<br><u><h1>Entered Department Details</h1></u><br>
<body bgcolor="pink">
<p>
    <strong>Deprtment Name:</strong>
    <%= @department.Dname %>
</p>
 
<p>
    <strong>Department Number:</strong>
    <%= @department.Dnumber %>
</p>

 
<%= link_to 'Edit', edit_department_path(@department) %> |
<%= link_to 'Back', departments_path %>
</body>


 



 
